.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.edit-icon {
    height: 32x;
    width: 32px;
}

.delete-icon {
    height: 24px;
    width: 24px;
}

.hollywood-sign {
    width: 800;
}